<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Views/Home/toggle-farm-stylesheet.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Organic Launch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (@HttpContext.Current.Session["UserType"] != null)
                    {
                        if (Request.IsAuthenticated && @HttpContext.Current.Session["UserType"].ToString().Equals("Admin"))
                        {
                            <li></li>
                            <li>@Html.ActionLink("Logout " + User.Identity.Name, "Logout", "Home") </li>
                            <li>@Html.ActionLink("My Account", "MyAccount", "Buyer", new { name = User.Identity.Name }, null)</li>
                            <li>@Html.ActionLink("Accounts", "ListAccounts", "Admin")</li>
                            <li>@Html.ActionLink("Farms", "ListFarmAccounts", "Admin")</li>
                        }
                        else if (Request.IsAuthenticated && @HttpContext.Current.Session["UserType"].ToString().Equals("Buyer"))
                        {
                            <li>Welcome @Html.Raw(User.Identity.Name)</li>
                            <li>@Html.ActionLink("Logout " + User.Identity.Name, "Logout", "Home") @Html.Raw(User.Identity.Name)</li>
                            <li>@Html.ActionLink("My Account", "MyAccount", "Buyer", new { name = User.Identity.Name},null)</li>
                            <li>@Html.ActionLink("View Cart", "MyCart", "Cart")</li>
                            <li>@Html.ActionLink("Shop", "Products", "Cart")</li>
                        }
                        else if (Request.IsAuthenticated && @HttpContext.Current.Session["UserType"].ToString().Equals("Farm"))
                        {
                            <li>Welcome @Html.Raw(User.Identity.Name)</li>
                            <li>@Html.ActionLink("Logout " + User.Identity.Name, "Logout", "Home") @Html.Raw(User.Identity.Name)</li>
                            <li>@Html.ActionLink("My Account", "MyAccount", "Buyer", new { name = User.Identity.Name }, null)</li>
                            <li>@Html.ActionLink("Farm Profile", "Edit", "Farm", new { name = User.Identity.Name}, null)</li>
                            <li>@Html.ActionLink("Inventory", "ViewInventory", "Farm", new { name = User.Identity.Name }, null)</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login ", "Login", "Home") @Html.Raw(User.Identity.Name)</li>
                            <li>@Html.ActionLink("Register", "Register", "Home")</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login ", "Login", "Home")</li>
                        <li>@Html.ActionLink("Register", "Register", "Home")</li>
                    }

                </ul>
            </div>
        </div>
    </div>

    @if (ViewBag.Page != null)
    {
        <header class="@ViewBag.Page">

            <div class="header_container">
                <h1>Organic Launch</h1>
                <h2>Our Company's Slogan.</h2>
            </div>

            @*<section id="slider-section">
                <div class="slider">
                    <ul>
                        <li class="produce">

                            <div>
                                <h2>$15.00 OFF</h2>
                                <p>Vancouver Wheat Flour</p>
                                <div class="header_a_cont">
                                    <a href="@Url.Action("Products","Cart")" class="btn btn-primary" style="margin-top:20px;">Shop Now</a>
                                </div>
                            </div>

                        </li>

                        <li class="meat">

                            <div>
                                <h2>up to 40% OFF</h2>
                                <p>100% pure canadian beef</p>
                                <div class="header_a_cont">
                                    <a href="@Url.Action("Products","Cart")" class="btn btn-primary" style="margin-top:20px;">Shop Now</a>
                                </div>
                            </div>

                        </li>

                        <li class="products">
                            <div>
                                <h2>over 30% OFF</h2>
                                <p>Oragnic and Nutritious Radishes</p>
                                <div class="header_a_cont">
                                    <a href="@Url.Action("Products","Cart")" class="btn btn-primary" style="margin-top:20px;">Shop Now</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>*@<!-- Slider Section End -->

        </header>
    }

   

    <div class="container body-content">
        @RenderBody()
        <footer class="col-lg-12" style="text-align:center; margin-top:40px;">

            <ul style="list-style:none;">
                <li style="display:inline;">@Html.ActionLink("Organic Launch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li style="display:inline;"><a href="#">Terms and Condition</a></li>
                <li style="display:inline;"><a href="#">About Us</a></li>
                <li style="display:inline;"><a href="#">Privacy</a></li>
            </ul>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/unslider.min.js"></script>
    <script src="~/scripts/app.js"></script>
</body>
</html>